.d-block {
    width: unset;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.carousel {
    width: 100%;
}

.location-close-icon {
    position: absolute;
    width: 125px;
    right: 0;
    margin: 70px;
}
.location-pin-icon {
    width: 40px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h4 {
    padding-top: 5px;
    color: darkgrey;
}
h2 {
    font-size: xx-large;
    padding-bottom: 15px;
}


.rating-star-icon {
    width: 50px;
    float: left;
    position: relative;
    margin-left: 5px;
}

.rate-place {
    color: purple;
    align-self: flex-end;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.rating-container {
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.row-details {
    display: flex;
}

.coffee-point {
    margin-top: 15px;
    margin-bottom: 15px;
    flex: 1 1 auto;
}

.details-para {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: justify;
}
.row-details-rate-place {
    display: flex;
    flex: 1 1 auto;
    border-top: 2px solid #b7adb4;
    border-bottom: 2px solid #b7adb4;
    margin: 5px;
    padding: 10px;
}



