/* landingIndex Page */
.image {
    object-fit: cover;
    position: relative;
    width: 100%; /* for IE 6 */
    background-color: antiquewhite;
}

h1 {
    position: absolute;
    top: 90px;
    left: 315px;
    width: 100%;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    font-size: 50px;
    text-align: left;
}

/* landingSearch Component */
#SearchDiv {
    text-align: left;
    margin-left: 14em;
    border-radius: 50%;
}

.cover-image {
    background-size: cover;
    background-image: url("../../images/shutterstock_610938071.jpg");
    background-repeat: no-repeat;
}

/* landingAPI Component */

/* fixed footer Component*/

.footer-home {
    display: flex;
    -webkit-appearance: button;
    padding: 3px 8px 3px 8px;
    font-size: 13px;
    position: relative;
    cursor: context-menu;
    align-items: center;
}

.footer-icons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a8121;
}

.footer-icon img {
    width: 50px;
    padding: 5px;
}

.footer-home {
    background-color: #a59d63;
    border-radius: 50px;
    margin-right: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.home-icon {
    margin-right: 10px;
    padding: 5px;
}

.footer-heart {
    margin-left: 25px;
}

.footer-user {
    margin-left: 90px;
}