/* landingIndex Page */
.image {
    position: relative;
    width: 100%; /* for IE 6 */
    background-blend-mode: darken;
  }
  
  h1 {
    position: absolute;
    top: 90px;
    left: 100px;
    width: 100%;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    font-size: 50px;
    text-align: left;
  }

/* landingSearch Component */

  /* landingAPI Component */

/* landingStickyBottom Component*/