

/* landingSearch Component */
/* .col{
    align-items: left;
} */

/* #searchInput {
    align-items: flex-start;
      
} */

#searchIcon {
    max-width: 100%;
    height: 5%;
    margin-top: .5em;
    margin-left: 40em;
}

#closeIcon{   
    max-width: 100%;
    height: 10%;
    color: green;
    margin-right: 40em;
}

/* landingAPI Component */


/* fixed footer Component*/


.footer-home {
    display: flex;
    -webkit-appearance: button;
    padding: 3px 8px 3px 8px;
    font-size: 13px;
    position: relative;
    cursor: context-menu;
    align-items: center;
}

.footer-icons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a8121;
}

.footer-icon img {
    width: 50px;
    padding: 5px;
}

.footer-home {
    background-color: #a59d63;
    border-radius: 50px;
    margin-right: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
h3 {
    padding-right: 10px;
    margin-left: 5px;
}

.home-icon {
    margin-right: 10px;
    padding: 5px;
}

.footer-heart {
    margin-left: 25px;
}

.footer-user {
    margin-left: 90px;
}