/* landingIndex Page */
.image {
    object-fit: cover;
    position: relative;
    width: 100%; /* for IE 6 */
    background-color: antiquewhite;
  }
  
  h1 {
    position: absolute;
    top: 90px;
    left: 315px;
    width: 100%;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    font-size: 50px;
      text-align: left;
  }

/* landingSearch Component */
#SearchDiv {
    text-align: left;
    margin-left: 14em;
    border-radius: 50%;
}

.cover-image {
    background-size: cover;
    background-image: url("../../images/shutterstock_610938071.jpg");
    background-repeat: no-repeat;
}

/* landingAPI Component */

/* landingStickyBottom Component*/

.sticky-buttons:hover {
    background-color: #dae1d9; /* Green */
    color: white;
}

.sticky-buttons {
    margin-left: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

.footer-home-div {
    margin-left: 500px;
}

.footer-home {
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
    padding: 5px 20px;

}